@import "tailwindcss";

/* Clases globales */

.container {
  margin: 0 auto;
  background-color: #f0f0f0;
  min-height: calc(100vh - 132px);
}

.btn {
  font-weight: 500;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
